[Unit]
Description=Corda Notary Node - Token Transaction
Requires=network.target

[Service]
Type=simple
User=hltesting
WorkingDirectory=/opt/corda/Notary
ExecStart=/usr/bin/java -jar /opt/corda/Notary/cordapps/corda-4.1.jar
Restart=on-failure

[Install]
WantedBy=multi-user.target
